<style>
  .bullet {
    width: 20px;
    height: 20px;
    border-radius: 200%;
  }

  .inline {
    display: inline-block;
  }

  .empty-slot {
    width: 20px;
    height: 20px;
    background-color: lightslategrey;
  }

</style>

<template>
    <div>
      <button v-if="!start" v-on:click="initialize()">Start Game</button>
      <button v-if="start" v-on:click="initialize()">Stop Game</button>
      <div>
        <span v-for="(color, index) in options.colors" v-bind:style="color.style" v-on:click="clickPickerColor(index)"
              class="bullet inline" style="margin-right: 10px"
        ></span>
        Pick a color
      </div>
      <table v-if="start">
        <thead>
        <tr>
          <th>Color</th>
          <th v-for="turn in options.turns">{{ turn }}</th>
        </tr>
        </thead>
        <tbody>
          <tr v-for="color in colors">
            <td v-bind:style="color.style" class="bullet"></td>
            <td v-for="turn in options.turns" class="empty-slot" v-on:click="selectSlot($event)"></td>
          </tr>
        </tbody>
      </table>
    </div>
</template>

<script>
  import _ from 'lodash'
  import $ from 'jquery'

  export default {
    name: 'game-option',
    data () {
      return {
        start: false,
        colors: [],
        pickerColor: null,
        currentPlayer: 0,
        currentTurn: 1,
        board: null,
        options: {
          turns: 12,
          lines: 4,
          players: [
            {
              name: 'player1'
            },
            {
              name: 'player2'
            }
          ],
          colors: [
            {
              name: 'blue',
              style: {
                background: '#7cc1fd'
              }
            },
            {
              name: 'green',
              style: {
                background: '#22da33'
              }
            },
            {
              name: 'red',
              style: {
                background: '#ef2346'
              }
            },
            {
              name: 'yellow',
              style: {
                background: '#f2f92d'
              }
            }
          ]
        }
      }
    },
    methods: {
      initialize () {
        this.start = !this.start

        if (this.start) {
          this.colors = []
          this.randomBullet()
        }
      },
      randomBullet () {
        var lines = this.options.lines
        for (var i = 0; i < lines; i++) {
          var randomIndex = _.random(0, (lines - 1))

          this.colors.push(this.options.colors[randomIndex])
        }
      },
      clickPickerColor (key) {
        this.pickerColor = key
      },
      getColorByIndex (index) {
        return this.options.colors[index]
      },
      getCurrentColor () {
        return this.options.colors[this.pickerColor]
      },
      selectSlot (event) {
        var currentColor = this.getCurrentColor()
        if (currentColor == null) return

        var $element = $(event.toElement)
        console.log($element)
        $element
          .removeClass('empty-slot')
          .addClass('bullet')

        $element.css(this.getCurrentColor().style)
      }
    }
  }
</script>
